:root {
  --text-grey: rgb(70, 70, 70);
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}


/* Nav */
nav {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
    margin-top: 2rem;
}
nav ul {
    list-style: none;
}
.navlink {
    display: block;
    color: white;
    background-color: black;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 0.6rem;
}
.navlink:hover {
    color: lightgreen;
}
.dropdown-list {
    position: relative;
    display: inline-block;
}
/*.nav-list a:hover + .dropdown-list {
}*/
.nav-list {
    display: flex;
    margin-right: 2rem;
}
.dropdown-list {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-link {
    display: block;
}
.nav-list > .nav-link:hover .dropdown-list {
    display: block;
}

/* Hero */
#pseudo-hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(175, 148, 130), green);
}
h1 {
    font-size: 7rem;
    position: absolute;
    top: 33vh;
    left: 10vw;
    font-weight: 900;
    letter-spacing: 0.3rem;
}
#tagline {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    position: absolute;
    color: white;
    font-family: sans-serif;
    top: 60vh;
    left: 10vw;
}

/* Main */
h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--text-grey);
    width: 80vw;
    max-width: 65%;
    margin: 4rem auto;
}
.pseudo-img {
  width: 45rem;
  height: 28rem;
  background: linear-gradient(90deg, lightgreen, green);
  margin: 0 auto;
}
h3 {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--text-grey);
  text-align: center;
  margin: 10rem auto 5rem;
}
h4 {
  margin: 7.3rem auto 1rem;
  width: 80vw;
  max-width: 85%;
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  border-bottom: 1px solid green;
}
h5 {
  margin: 3.3rem auto 1rem;
  padding-left: 2rem;
  width: 80vw;
  max-width: 85%;
  font-size: 2rem;
  font-family: serif;
  color: var(--text-grey);
}
p {
    width: 80vw;
    max-width: 85%;
    font-size: 2rem;
    margin: 1.3rem auto;
    color: var(--text-grey);
    line-height: 3.2rem;
}
main ul {
  width: 80vw;
  max-width: 85%;
  font-size: 2rem;
  margin: 1.3rem auto;
  color: var(--text-grey);
  line-height: 3.2rem;
  padding-left: 7rem;
}
main a {
  color: black;
  text-decoration-style: dotted;
}

/* Zero Waste Sidebar */
.zero-waste-sidebar {
  float: right;
  width: 30%;
  background-color: hsl(90, 70%, 80%);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  padding-bottom: 2rem;
}
.zero-waste-sidebar h4 {
  font-size: 1.1rem;
  line-height: 2rem;
  max-width: 100%;
  width: 90%;
  padding: 0;
  margin: 2rem;
}
.zero-waste-sidebar p {
  line-height: 2.1rem;
  margin: auto;
  width: 86%;
  max-width: 100%;
  font-size: 1.4rem;
}
.zero-waste-sidebar li {
  line-height: 2.2rem;
  width: 100%;
  position: relative;
  left: -4rem;
  font-size: 1.6rem;
}
/* Footer */
footer {
    background-color: rgb(40, 40, 40);
    height: 60vh;
    width: 100%;
    margin-top: 6rem;
}
#vertical {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#tip-contact {
    font-size: 3.5rem;
    font-weight: 300;
    color: white;
}
#contact-button {
    background-color: rgb(40, 40, 40);
    border: 2px solid green;
    color: green;
    font-size: 1.8rem;
    padding: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}
#contact-button:hover {
    background-color: green;
    color: white;
    transition: 225ms;
}
#horizontal {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: flex-end;
}
#copyright {
    font-family: serif;
    color: white;
    font-size: 1.8rem;
    margin-left: 3rem;
}
#socials a {
    color: white;
    margin-right: 3rem;
    font-size: 2.8rem;
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}