* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

/* Nav */
nav {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
    margin-top: 2rem;
}
.nav-list a {
    display: block;
    color: white;
    background-color: black;
    border-radius: 0.2rem;
    text-decoration: none;
}
.nav-list a:hover {
    color: lightgreen;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}
nav a.navlink {
    display: block;
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 0.6rem;
}
.dropdown-link {
    position: absolute;
    left: -999px;
}


/* Hero */
#pseudo-hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(104, 73, 52), green);
}
h1 {
    font-size: 7rem;
    position: absolute;
    top: 33vh;
    left: 10vw;
    font-weight: 900;
}
#tagline {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    color: white;
    font-family: sans-serif;
    top: 60vh;
    left: 10vw;
}

/* Main */
h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(70, 70, 70);
    width: 80vw;
    max-width: 65%;
    margin: 4rem auto;
}
p {
    width: 80vw;
    max-width: 65%;
    font-size: 2rem;
    margin: 1.3rem auto;
    color: rgb(70, 70, 70);
    line-height: 3.2rem;
}


/* Footer */
footer {
    background-color: rgb(40, 40, 40);
    height: 60vh;
    width: 100%;
    margin-top: 6rem;
}
#vertical {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#tip-contact {
    font-size: 3.5rem;
    font-weight: 300;
    color: white;
}
#contact-button {
    background-color: rgb(40, 40, 40);
    border: 2px solid green;
    color: green;
    font-size: 1.8rem;
    padding: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}
#contact-button:hover {
    background-color: green;
    color: white;
    transition: 225ms;
}
#horizontal {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: flex-end;
}
#copyright {
    font-family: serif;
    color: white;
    font-size: 1.8rem;
    margin-left: 3rem;
}
#socials {
    color: white;
    margin-right: 3rem;
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}